// Place all the styles related to the customer::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main{
  margin-top: 40px;
}

.make{
  margin-top: 20px;
}

.tytle{
  width: 150px;
}


#customer_postal_code{
  width: 100px;
}

#customer_address{
  width: 470px;
}

#customer_tel{
  width: 188px;
}

#customer_email{
  width: 250px;
}

.we{
  width: 231px;
}

.he{
  width: 300px;
}

.main2{
  margin-top: 200px;
}

.loginpassword{
  width: 250px;
}