// Place all the styles related to the customer::orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main{
  margin-top: 40px;
}

.vvv{
  width: 100px;
}
.www{
  width: 120px;
}

.zzz{
  width: 130px;
}