// Place all the styles related to the customer::receivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#receiver_postal_code{
  width: 100px;
}

#receiver_address{
  width: 470px;
}

#receiver_name{
  width: 470px;
}

li{
  list-style: none;
}

main{
  margin-top: 40px;
}
.make{
  margin-top: 40px;
}

.title{
  width: 100px;
}