<br>
<div class="container">
  <div class="row">
    <div class="col-6 mx-auto text-center">
  <h1>About</h1>
  <p>ながのCakeは全国発送可能なケーキ屋さんです。<br>
  お子様からお年寄りの方までお召し上がりいただけるよう、<br>
  様々なバリエーションをご用意しております。<br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  ぜひご注文ください。</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 mx-auto">
      <div class="card text-center topcardmg shadow rounded">
        <%= link_to image_tag('cake_ya.png', class: "bd-placeholder-img bd-placeholder-img-lg card-img", height: "200", alt: ''), root_path %>
          <h1 class="card-text text-success"><br><%= link_to "Go to TopPage!!", root_path, class: "text-reset" %></p>
        </div>
      </div>
    </div>
  </div>
</div>