

<%= form_with model: @order, url: "orders/create", local: true do |f| %>
  <h4>支払方法</h4>
  <%#= @order.payment %>
  <h4>お届け先</h4>
  <%#= @order.postal_code, @order.address, @order.name %>
  <%= f.submit "購入を確定する" %>
<% end %>
